<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th style="width:22%">CANKIRI</th>
      <th style="width:6%">Ocak</th>
      <th style="width:6%">Şubat</th>
      <th style="width:6%">Mart</th>
      <th style="width:6%">Nisan</th>
      <th style="width:6%">Mayıs</th>
      <th style="width:6%">Haziran</th>
      <th style="width:6%">Temmuz</th>
      <th style="width:6%">Ağustos</th>
      <th style="width:6%">Eylül</th>
      <th style="width:6%">Ekim</th>
      <th style="width:6%">Kasım</th>
      <th style="width:6%">Aralık</th>
      <th style="width:6%">Yıllık</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">Ölçüm Periyodu ( 1929 - 2025)</th>
    </tr>
    <tr>
      <th>Ortalama Sıcaklık (°C)</th>
      <td id="d01">-0,4</td>
      <td id="d02">1,3</td>
      <td id="d03">5,7</td>
      <td id="d04">11,2</td>
      <td id="d05">15,9</td>
      <td id="d06">19,8</td>
      <td id="d07">23,1</td>
      <td id="d08">23,0</td>
      <td id="d09">18,1</td>
      <td id="d10">12,2</td>
      <td id="d11">5,9</td>
      <td id="d12">1,7</td>
      <td id="d_top">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Yüksek Sıcaklık (°C)</th>
      <td id="e01">3,7</td>
      <td id="e02">6,4</td>
      <td id="e03">12,0</td>
      <td id="e04">18,1</td>
      <td id="e05">23,0</td>
      <td id="e06">27,3</td>
      <td id="e07">31,2</td>
      <td id="e08">31,5</td>
      <td id="e09">26,8</td>
      <td id="e10">20,3</td>
      <td id="e11">12,4</td>
      <td id="e12">5,8</td>
      <td id="d_top2">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Düşük Sıcaklık (°C)</th>
      <td id="f01">-3,8</td>
      <td id="f02">-3,0</td>
      <td id="f03">-0,1</td>
      <td id="f04">4,6</td>
      <td id="f05">8,7</td>
      <td id="f06">12,0</td>
      <td id="f07">14,3</td>
      <td id="f08">14,1</td>
      <td id="f09">9,8</td>
      <td id="f10">5,2</td>
      <td id="f11">0,6</td>
      <td id="f12">-1,7</td>
      <td id="d_top3">
      </td>
    </tr>
    <tr>
      <th>Ortalama Güneşlenme Süresi (saat)</th>
      <td id="g01">2,3</td>
      <td id="g02">3,7</td>
      <td id="g03">5,2</td>
      <td id="g04">6,4</td>
      <td id="g05">7,9</td>
      <td id="g06">9,6</td>
      <td id="g07">10,7</td>
      <td id="g08">10,0</td>
      <td id="g09">8,5</td>
      <td id="g10">6,3</td>
      <td id="g11">4,1</td>
      <td id="g12">2,0</td>
      <td id="d_top4">
      </td>
    </tr>
    <tr>
      <th>Ortalama Yağışlı Gün Sayısı</th>
      <td id="h01">11,98</td>
      <td id="h02">10,11</td>
      <td id="h03">9,91</td>
      <td id="h04">11,49</td>
      <td id="h05">13,57</td>
      <td id="h06">10,35</td>
      <td id="h07">4,48</td>
      <td id="h08">3,67</td>
      <td id="h09">4,65</td>
      <td id="h10">6,84</td>
      <td id="h11">7,60</td>
      <td id="h12">11,21</td>
      <td id="d_top5">
      </td>
    </tr>
    <tr>
      <th>
                Aylık Toplam Yağış Miktarı Ortalaması<span style="font-size:.8em;">
                  (mm)
                </span></th>
      <td id="i01">43,3</td>
      <td id="i02">34,1</td>
      <td id="i03">38,7</td>
      <td id="i04">43,9</td>
      <td id="i05">56,7</td>
      <td id="i06">46,0</td>
      <td id="i07">18,3</td>
      <td id="i08">18,2</td>
      <td id="i09">18,3</td>
      <td id="i10">25,8</td>
      <td id="i11">25,8</td>
      <td id="i12">44,6</td>
      <td id="d_top6">
      </td>
    </tr>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">
                  Ölçüm Periyodu ( 1929 - 2025)
                </th>
    </tr>
    <tr>
      <th style="color:#dd4747;">En Yüksek Sıcaklık (°C)</th>
      <td id="j01" title="12.01.2021" style="color:#dd4747;">17,6</td>
      <td id="j02" title="27.02.1955" style="color:#dd4747;">22,0</td>
      <td id="j03" title="31.03.1955" style="color:#dd4747;">29,0</td>
      <td id="j04" title="26.04.2024" style="color:#dd4747;">31,9</td>
      <td id="j05" title="30.05.2022" style="color:#dd4747;">35,5</td>
      <td id="j06" title="25.06.2007" style="color:#dd4747;">39,6</td>
      <td id="j07" title="29.07.2025" style="color:#dd4747;">43,3</td>
      <td id="j08" title="01.08.1954" style="color:#dd4747;">41,8</td>
      <td id="j09" title="03.09.2020" style="color:#dd4747;">39,8</td>
      <td id="j10" title="02.10.1999" style="color:#dd4747;">34,2</td>
      <td id="j11" title="05.11.2023" style="color:#dd4747;">25,1</td>
      <td id="j12" title="02.12.1956" style="color:#dd4747;">18,2</td>
      <td style="color:#dd4747;" id="d_top7">
      </td>
    </tr>
    <tr>
      <th style="color:#437ec1;">En Düşük Sıcaklık (°C)</th>
      <td id="k01" title="25.01.1950" style="color:#437ec1;">-25,0</td>
      <td id="k02" title="02.02.1950" style="color:#437ec1;">-24,0</td>
      <td id="k03" title="02.03.1985" style="color:#437ec1;">-20,5</td>
      <td id="k04" title="11.04.1997" style="color:#437ec1;">-8,9</td>
      <td id="k05" title="02.05.1988" style="color:#437ec1;">-3,0</td>
      <td id="k06" title="05.06.1967" style="color:#437ec1;">1,6</td>
      <td id="k07" title="06.07.1985" style="color:#437ec1;">4,3</td>
      <td id="k08" title="30.08.1970" style="color:#437ec1;">4,6</td>
      <td id="k09" title="29.09.1931" style="color:#437ec1;">-2,0</td>
      <td id="k10" title="23.10.1977" style="color:#437ec1;">-6,3</td>
      <td id="k11" title="29.11.1948" style="color:#437ec1;">-19,4</td>
      <td id="k12" title="27.12.2002" style="color:#437ec1;">-18,8</td>
      <td style="color:#437ec1;" id="d_top8">
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="13">
        <i>En yüksek ve en düşük sıcaklıkların gerçekleşme tarihini görmek için fare imlecini değerlerin üstüne getiriniz.</i>
      </td>
    </tr>
  </tfoot>
</table>
<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th colspan="2">Günlük Toplam En Yüksek Yağış Miktarı</th>
      <th colspan="2">Günlük En Hızlı Rüzgar</th>
      <th colspan="2">En Yüksek Kar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="r">12.08.2011</td>
      <td class="l">
        <b>73,7 mm
                  </b>
      </td>
      <td class="r">12.03.1968</td>
      <td class="l">
        <b>42,0 m/sn
                  </b>
      </td>
      <td class="r">03.12.1948</td>
      <td class="l">
        <b>92 cm
                  </b>
      </td>
    </tr>
  </tbody>
</table>
