<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th style="width:22%">SAKARYA</th>
      <th style="width:6%">Ocak</th>
      <th style="width:6%">Şubat</th>
      <th style="width:6%">Mart</th>
      <th style="width:6%">Nisan</th>
      <th style="width:6%">Mayıs</th>
      <th style="width:6%">Haziran</th>
      <th style="width:6%">Temmuz</th>
      <th style="width:6%">Ağustos</th>
      <th style="width:6%">Eylül</th>
      <th style="width:6%">Ekim</th>
      <th style="width:6%">Kasım</th>
      <th style="width:6%">Aralık</th>
      <th style="width:6%">Yıllık</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">Ölçüm Periyodu ( 1951 - 2025)</th>
    </tr>
    <tr>
      <th>Ortalama Sıcaklık (°C)</th>
      <td id="d01">6,3</td>
      <td id="d02">6,9</td>
      <td id="d03">8,8</td>
      <td id="d04">13,0</td>
      <td id="d05">17,4</td>
      <td id="d06">21,5</td>
      <td id="d07">23,6</td>
      <td id="d08">23,5</td>
      <td id="d09">19,9</td>
      <td id="d10">15,6</td>
      <td id="d11">11,8</td>
      <td id="d12">8,4</td>
      <td id="d_top">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Yüksek Sıcaklık (°C)</th>
      <td id="e01">10,0</td>
      <td id="e02">11,2</td>
      <td id="e03">14,0</td>
      <td id="e04">19,0</td>
      <td id="e05">23,6</td>
      <td id="e06">27,7</td>
      <td id="e07">29,6</td>
      <td id="e08">29,7</td>
      <td id="e09">26,5</td>
      <td id="e10">21,5</td>
      <td id="e11">17,0</td>
      <td id="e12">12,1</td>
      <td id="d_top2">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Düşük Sıcaklık (°C)</th>
      <td id="f01">3,1</td>
      <td id="f02">3,4</td>
      <td id="f03">4,7</td>
      <td id="f04">8,2</td>
      <td id="f05">12,3</td>
      <td id="f06">16,0</td>
      <td id="f07">18,1</td>
      <td id="f08">18,2</td>
      <td id="f09">14,6</td>
      <td id="f10">11,2</td>
      <td id="f11">7,7</td>
      <td id="f12">5,2</td>
      <td id="d_top3">
      </td>
    </tr>
    <tr>
      <th>Ortalama Güneşlenme Süresi (saat)</th>
      <td id="g01">2,5</td>
      <td id="g02">3,2</td>
      <td id="g03">4,0</td>
      <td id="g04">5,3</td>
      <td id="g05">6,6</td>
      <td id="g06">8,1</td>
      <td id="g07">8,9</td>
      <td id="g08">8,5</td>
      <td id="g09">6,9</td>
      <td id="g10">4,7</td>
      <td id="g11">3,5</td>
      <td id="g12">2,5</td>
      <td id="d_top4">
      </td>
    </tr>
    <tr>
      <th>Ortalama Yağışlı Gün Sayısı</th>
      <td id="h01">15,40</td>
      <td id="h02">14,03</td>
      <td id="h03">13,82</td>
      <td id="h04">11,42</td>
      <td id="h05">10,14</td>
      <td id="h06">8,54</td>
      <td id="h07">5,74</td>
      <td id="h08">5,72</td>
      <td id="h09">7,47</td>
      <td id="h10">10,92</td>
      <td id="h11">11,63</td>
      <td id="h12">15,51</td>
      <td id="d_top5">
      </td>
    </tr>
    <tr>
      <th>
                Aylık Toplam Yağış Miktarı Ortalaması<span style="font-size:.8em;">
                  (mm)
                </span></th>
      <td id="i01">93,4</td>
      <td id="i02">76,4</td>
      <td id="i03">75,1</td>
      <td id="i04">58,6</td>
      <td id="i05">53,4</td>
      <td id="i06">73,9</td>
      <td id="i07">50,1</td>
      <td id="i08">48,1</td>
      <td id="i09">51,5</td>
      <td id="i10">79,2</td>
      <td id="i11">76,6</td>
      <td id="i12">106,0</td>
      <td id="d_top6">
      </td>
    </tr>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">
                  Ölçüm Periyodu ( 1951 - 2025)
                </th>
    </tr>
    <tr>
      <th style="color:#dd4747;">En Yüksek Sıcaklık (°C)</th>
      <td id="j01" title="12.01.2021" style="color:#dd4747;">26,5</td>
      <td id="j02" title="16.02.2016" style="color:#dd4747;">28,7</td>
      <td id="j03" title="26.03.2001" style="color:#dd4747;">31,9</td>
      <td id="j04" title="12.04.1998" style="color:#dd4747;">35,8</td>
      <td id="j05" title="18.05.1958" style="color:#dd4747;">38,0</td>
      <td id="j06" title="28.06.1958" style="color:#dd4747;">40,4</td>
      <td id="j07" title="13.07.2000" style="color:#dd4747;">44,0</td>
      <td id="j08" title="22.08.1977" style="color:#dd4747;">41,8</td>
      <td id="j09" title="20.09.2017" style="color:#dd4747;">40,7</td>
      <td id="j10" title="06.10.2003" style="color:#dd4747;">38,6</td>
      <td id="j11" title="03.11.1959" style="color:#dd4747;">30,2</td>
      <td id="j12" title="02.12.2010" style="color:#dd4747;">28,5</td>
      <td style="color:#dd4747;" id="d_top7">
      </td>
    </tr>
    <tr>
      <th style="color:#437ec1;">En Düşük Sıcaklık (°C)</th>
      <td id="k01" title="22.01.1961" style="color:#437ec1;">-14,5</td>
      <td id="k02" title="09.02.1965" style="color:#437ec1;">-13,5</td>
      <td id="k03" title="01.03.1985" style="color:#437ec1;">-7,3</td>
      <td id="k04" title="12.04.1969" style="color:#437ec1;">-2,4</td>
      <td id="k05" title="05.05.1995" style="color:#437ec1;">2,0</td>
      <td id="k06" title="08.06.1962" style="color:#437ec1;">6,1</td>
      <td id="k07" title="05.07.1964" style="color:#437ec1;">8,7</td>
      <td id="k08" title="31.08.1965" style="color:#437ec1;">7,8</td>
      <td id="k09" title="14.09.1962" style="color:#437ec1;">5,4</td>
      <td id="k10" title="29.10.1965" style="color:#437ec1;">-0,2</td>
      <td id="k11" title="10.11.1956" style="color:#437ec1;">-6,6</td>
      <td id="k12" title="23.12.1967" style="color:#437ec1;">-9,1</td>
      <td style="color:#437ec1;" id="d_top8">
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="13">
        <i>En yüksek ve en düşük sıcaklıkların gerçekleşme tarihini görmek için fare imlecini değerlerin üstüne getiriniz.</i>
      </td>
    </tr>
  </tfoot>
</table>
<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th colspan="2">Günlük Toplam En Yüksek Yağış Miktarı</th>
      <th colspan="2">Günlük En Hızlı Rüzgar</th>
      <th colspan="2">En Yüksek Kar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="r">26.06.1999</td>
      <td class="l">
        <b>127,7 mm
                  </b>
      </td>
      <td class="r">08.07.2012</td>
      <td class="l">
        <b>28,8 m/sn
                  </b>
      </td>
      <td class="r">18.02.2008</td>
      <td class="l">
        <b>54 cm
                  </b>
      </td>
    </tr>
  </tbody>
</table>
