<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th style="width:22%">SIIRT</th>
      <th style="width:6%">Ocak</th>
      <th style="width:6%">Şubat</th>
      <th style="width:6%">Mart</th>
      <th style="width:6%">Nisan</th>
      <th style="width:6%">Mayıs</th>
      <th style="width:6%">Haziran</th>
      <th style="width:6%">Temmuz</th>
      <th style="width:6%">Ağustos</th>
      <th style="width:6%">Eylül</th>
      <th style="width:6%">Ekim</th>
      <th style="width:6%">Kasım</th>
      <th style="width:6%">Aralık</th>
      <th style="width:6%">Yıllık</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">Ölçüm Periyodu ( 1939 - 2025)</th>
    </tr>
    <tr>
      <th>Ortalama Sıcaklık (°C)</th>
      <td id="d01">2,8</td>
      <td id="d02">4,4</td>
      <td id="d03">8,4</td>
      <td id="d04">14,0</td>
      <td id="d05">19,5</td>
      <td id="d06">26,1</td>
      <td id="d07">30,7</td>
      <td id="d08">30,5</td>
      <td id="d09">25,6</td>
      <td id="d10">18,4</td>
      <td id="d11">10,6</td>
      <td id="d12">4,9</td>
      <td id="d_top">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Yüksek Sıcaklık (°C)</th>
      <td id="e01">6,8</td>
      <td id="e02">8,9</td>
      <td id="e03">13,4</td>
      <td id="e04">19,3</td>
      <td id="e05">25,4</td>
      <td id="e06">32,4</td>
      <td id="e07">37,2</td>
      <td id="e08">37,1</td>
      <td id="e09">32,3</td>
      <td id="e10">24,5</td>
      <td id="e11">15,6</td>
      <td id="e12">8,9</td>
      <td id="d_top2">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Düşük Sıcaklık (°C)</th>
      <td id="f01">-0,4</td>
      <td id="f02">0,7</td>
      <td id="f03">4,2</td>
      <td id="f04">9,1</td>
      <td id="f05">13,7</td>
      <td id="f06">19,2</td>
      <td id="f07">23,6</td>
      <td id="f08">23,4</td>
      <td id="f09">18,9</td>
      <td id="f10">12,9</td>
      <td id="f11">6,5</td>
      <td id="f12">1,8</td>
      <td id="d_top3">
      </td>
    </tr>
    <tr>
      <th>Ortalama Güneşlenme Süresi (saat)</th>
      <td id="g01">3,6</td>
      <td id="g02">4,4</td>
      <td id="g03">5,4</td>
      <td id="g04">6,6</td>
      <td id="g05">8,9</td>
      <td id="g06">11,6</td>
      <td id="g07">12,0</td>
      <td id="g08">11,2</td>
      <td id="g09">9,9</td>
      <td id="g10">7,2</td>
      <td id="g11">5,2</td>
      <td id="g12">3,7</td>
      <td id="d_top4">
      </td>
    </tr>
    <tr>
      <th>Ortalama Yağışlı Gün Sayısı</th>
      <td id="h01">12,34</td>
      <td id="h02">11,87</td>
      <td id="h03">14,05</td>
      <td id="h04">12,86</td>
      <td id="h05">10,15</td>
      <td id="h06">3,11</td>
      <td id="h07">0,66</td>
      <td id="h08">0,62</td>
      <td id="h09">1,61</td>
      <td id="h10">6,97</td>
      <td id="h11">8,90</td>
      <td id="h12">11,38</td>
      <td id="d_top5">
      </td>
    </tr>
    <tr>
      <th>
                Aylık Toplam Yağış Miktarı Ortalaması<span style="font-size:.8em;">
                  (mm)
                </span></th>
      <td id="i01">94,3</td>
      <td id="i02">96,1</td>
      <td id="i03">112,3</td>
      <td id="i04">102,2</td>
      <td id="i05">62,1</td>
      <td id="i06">9,0</td>
      <td id="i07">2,6</td>
      <td id="i08">1,9</td>
      <td id="i09">7,0</td>
      <td id="i10">49,4</td>
      <td id="i11">81,0</td>
      <td id="i12">93,0</td>
      <td id="d_top6">
      </td>
    </tr>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">
                  Ölçüm Periyodu ( 1939 - 2025)
                </th>
    </tr>
    <tr>
      <th style="color:#dd4747;">En Yüksek Sıcaklık (°C)</th>
      <td id="j01" title="07.01.2014" style="color:#dd4747;">19,7</td>
      <td id="j02" title="28.02.1989" style="color:#dd4747;">20,6</td>
      <td id="j03" title="24.03.2008" style="color:#dd4747;">28,5</td>
      <td id="j04" title="23.04.2008" style="color:#dd4747;">32,9</td>
      <td id="j05" title="21.05.2021" style="color:#dd4747;">36,8</td>
      <td id="j06" title="14.06.2010" style="color:#dd4747;">40,2</td>
      <td id="j07" title="25.07.2025" style="color:#dd4747;">44,6</td>
      <td id="j08" title="06.08.1973" style="color:#dd4747;">46,0</td>
      <td id="j09" title="03.09.2022" style="color:#dd4747;">41,3</td>
      <td id="j10" title="01.10.2004" style="color:#dd4747;">36,6</td>
      <td id="j11" title="08.11.2025" style="color:#dd4747;">26,7</td>
      <td id="j12" title="05.12.2010" style="color:#dd4747;">24,3</td>
      <td style="color:#dd4747;" id="d_top7">
      </td>
    </tr>
    <tr>
      <th style="color:#437ec1;">En Düşük Sıcaklık (°C)</th>
      <td id="k01" title="16.01.1950" style="color:#437ec1;">-19,3</td>
      <td id="k02" title="05.02.1950" style="color:#437ec1;">-16,5</td>
      <td id="k03" title="01.03.1985" style="color:#437ec1;">-13,3</td>
      <td id="k04" title="01.04.1956" style="color:#437ec1;">-4,1</td>
      <td id="k05" title="01.05.1984" style="color:#437ec1;">2,0</td>
      <td id="k06" title="02.06.1943" style="color:#437ec1;">8,2</td>
      <td id="k07" title="11.07.1958" style="color:#437ec1;">13,1</td>
      <td id="k08" title="30.08.1983" style="color:#437ec1;">14,4</td>
      <td id="k09" title="29.09.2009" style="color:#437ec1;">8,5</td>
      <td id="k10" title="14.10.1948" style="color:#437ec1;">0,3</td>
      <td id="k11" title="27.11.1953" style="color:#437ec1;">-6,6</td>
      <td id="k12" title="12.12.1956" style="color:#437ec1;">-14,6</td>
      <td style="color:#437ec1;" id="d_top8">
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="13">
        <i>En yüksek ve en düşük sıcaklıkların gerçekleşme tarihini görmek için fare imlecini değerlerin üstüne getiriniz.</i>
      </td>
    </tr>
  </tfoot>
</table>
<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th colspan="2">Günlük Toplam En Yüksek Yağış Miktarı</th>
      <th colspan="2">Günlük En Hızlı Rüzgar</th>
      <th colspan="2">En Yüksek Kar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="r">02.11.2009</td>
      <td class="l">
        <b>102,9 mm
                  </b>
      </td>
      <td class="r">23.05.1967</td>
      <td class="l">
        <b>39,6 m/sn
                  </b>
      </td>
      <td class="r">14.02.1949</td>
      <td class="l">
        <b>96 cm
                  </b>
      </td>
    </tr>
  </tbody>
</table>
