<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th style="width:22%">ERZINCAN</th>
      <th style="width:6%">Ocak</th>
      <th style="width:6%">Şubat</th>
      <th style="width:6%">Mart</th>
      <th style="width:6%">Nisan</th>
      <th style="width:6%">Mayıs</th>
      <th style="width:6%">Haziran</th>
      <th style="width:6%">Temmuz</th>
      <th style="width:6%">Ağustos</th>
      <th style="width:6%">Eylül</th>
      <th style="width:6%">Ekim</th>
      <th style="width:6%">Kasım</th>
      <th style="width:6%">Aralık</th>
      <th style="width:6%">Yıllık</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">Ölçüm Periyodu ( 1928 - 2025)</th>
    </tr>
    <tr>
      <th>Ortalama Sıcaklık (°C)</th>
      <td id="d01">-2,8</td>
      <td id="d02">-1,1</td>
      <td id="d03">4,1</td>
      <td id="d04">10,7</td>
      <td id="d05">15,6</td>
      <td id="d06">19,9</td>
      <td id="d07">23,8</td>
      <td id="d08">24,0</td>
      <td id="d09">19,2</td>
      <td id="d10">12,5</td>
      <td id="d11">5,7</td>
      <td id="d12">-0,1</td>
      <td id="d_top">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Yüksek Sıcaklık (°C)</th>
      <td id="e01">1,8</td>
      <td id="e02">3,8</td>
      <td id="e03">9,6</td>
      <td id="e04">16,9</td>
      <td id="e05">22,3</td>
      <td id="e06">27,1</td>
      <td id="e07">31,5</td>
      <td id="e08">32,1</td>
      <td id="e09">27,5</td>
      <td id="e10">20,0</td>
      <td id="e11">11,7</td>
      <td id="e12">4,5</td>
      <td id="d_top2">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Düşük Sıcaklık (°C)</th>
      <td id="f01">-6,8</td>
      <td id="f02">-5,3</td>
      <td id="f03">-0,7</td>
      <td id="f04">4,8</td>
      <td id="f05">8,8</td>
      <td id="f06">12,3</td>
      <td id="f07">15,6</td>
      <td id="f08">15,5</td>
      <td id="f09">11,0</td>
      <td id="f10">5,9</td>
      <td id="f11">0,8</td>
      <td id="f12">-3,9</td>
      <td id="d_top3">
      </td>
    </tr>
    <tr>
      <th>Ortalama Güneşlenme Süresi (saat)</th>
      <td id="g01">3,0</td>
      <td id="g02">4,1</td>
      <td id="g03">5,0</td>
      <td id="g04">6,0</td>
      <td id="g05">7,5</td>
      <td id="g06">9,8</td>
      <td id="g07">10,8</td>
      <td id="g08">10,2</td>
      <td id="g09">8,7</td>
      <td id="g10">6,5</td>
      <td id="g11">4,5</td>
      <td id="g12">2,9</td>
      <td id="d_top4">
      </td>
    </tr>
    <tr>
      <th>Ortalama Yağışlı Gün Sayısı</th>
      <td id="h01">9,39</td>
      <td id="h02">8,80</td>
      <td id="h03">11,45</td>
      <td id="h04">12,67</td>
      <td id="h05">13,96</td>
      <td id="h06">8,77</td>
      <td id="h07">3,36</td>
      <td id="h08">2,41</td>
      <td id="h09">4,24</td>
      <td id="h10">8,14</td>
      <td id="h11">8,35</td>
      <td id="h12">9,37</td>
      <td id="d_top5">
      </td>
    </tr>
    <tr>
      <th>
                Aylık Toplam Yağış Miktarı Ortalaması<span style="font-size:.8em;">
                  (mm)
                </span></th>
      <td id="i01">27,6</td>
      <td id="i02">29,9</td>
      <td id="i03">43,0</td>
      <td id="i04">52,8</td>
      <td id="i05">53,5</td>
      <td id="i06">30,7</td>
      <td id="i07">12,4</td>
      <td id="i08">6,9</td>
      <td id="i09">15,5</td>
      <td id="i10">38,5</td>
      <td id="i11">35,4</td>
      <td id="i12">28,4</td>
      <td id="d_top6">
      </td>
    </tr>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">
                  Ölçüm Periyodu ( 1928 - 2025)
                </th>
    </tr>
    <tr>
      <th style="color:#dd4747;">En Yüksek Sıcaklık (°C)</th>
      <td id="j01" title="13.01.2021" style="color:#dd4747;">14,6</td>
      <td id="j02" title="28.02.1977" style="color:#dd4747;">17,2</td>
      <td id="j03" title="28.03.2001" style="color:#dd4747;">25,2</td>
      <td id="j04" title="24.04.1928" style="color:#dd4747;">30,4</td>
      <td id="j05" title="04.05.2012" style="color:#dd4747;">33,8</td>
      <td id="j06" title="29.06.2018" style="color:#dd4747;">37,0</td>
      <td id="j07" title="30.07.2000" style="color:#dd4747;">40,6</td>
      <td id="j08" title="01.08.1957" style="color:#dd4747;">40,5</td>
      <td id="j09" title="01.09.2025" style="color:#dd4747;">37,9</td>
      <td id="j10" title="01.10.1952" style="color:#dd4747;">31,4</td>
      <td id="j11" title="03.11.1932" style="color:#dd4747;">24,9</td>
      <td id="j12" title="05.12.2010" style="color:#dd4747;">19,0</td>
      <td style="color:#dd4747;" id="d_top7">
      </td>
    </tr>
    <tr>
      <th style="color:#437ec1;">En Düşük Sıcaklık (°C)</th>
      <td id="k01" title="15.01.1950" style="color:#437ec1;">-31,2</td>
      <td id="k02" title="11.02.1950" style="color:#437ec1;">-30,2</td>
      <td id="k03" title="02.03.1985" style="color:#437ec1;">-22,4</td>
      <td id="k04" title="04.04.1944" style="color:#437ec1;">-11,1</td>
      <td id="k05" title="12.05.1945" style="color:#437ec1;">-4,2</td>
      <td id="k06" title="05.06.1967" style="color:#437ec1;">2,0</td>
      <td id="k07" title="11.07.1992" style="color:#437ec1;">5,0</td>
      <td id="k08" title="27.08.1950" style="color:#437ec1;">5,9</td>
      <td id="k09" title="27.09.1931" style="color:#437ec1;">0,3</td>
      <td id="k10" title="14.10.1948" style="color:#437ec1;">-6,8</td>
      <td id="k11" title="28.11.1953" style="color:#437ec1;">-15,6</td>
      <td id="k12" title="28.12.1953" style="color:#437ec1;">-25,9</td>
      <td style="color:#437ec1;" id="d_top8">
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="13">
        <i>En yüksek ve en düşük sıcaklıkların gerçekleşme tarihini görmek için fare imlecini değerlerin üstüne getiriniz.</i>
      </td>
    </tr>
  </tfoot>
</table>
<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th colspan="2">Günlük Toplam En Yüksek Yağış Miktarı</th>
      <th colspan="2">Günlük En Hızlı Rüzgar</th>
      <th colspan="2">En Yüksek Kar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="r">14.12.1951</td>
      <td class="l">
        <b>110,5 mm
                  </b>
      </td>
      <td class="r">17.03.1970</td>
      <td class="l">
        <b>39,5 m/sn
                  </b>
      </td>
      <td class="r">14.02.1950</td>
      <td class="l">
        <b>74 cm
                  </b>
      </td>
    </tr>
  </tbody>
</table>
