<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th style="width:22%">MUS</th>
      <th style="width:6%">Ocak</th>
      <th style="width:6%">Şubat</th>
      <th style="width:6%">Mart</th>
      <th style="width:6%">Nisan</th>
      <th style="width:6%">Mayıs</th>
      <th style="width:6%">Haziran</th>
      <th style="width:6%">Temmuz</th>
      <th style="width:6%">Ağustos</th>
      <th style="width:6%">Eylül</th>
      <th style="width:6%">Ekim</th>
      <th style="width:6%">Kasım</th>
      <th style="width:6%">Aralık</th>
      <th style="width:6%">Yıllık</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">Ölçüm Periyodu ( 1964 - 2025)</th>
    </tr>
    <tr>
      <th>Ortalama Sıcaklık (°C)</th>
      <td id="d01">-6,8</td>
      <td id="d02">-5,5</td>
      <td id="d03">1,3</td>
      <td id="d04">9,3</td>
      <td id="d05">14,8</td>
      <td id="d06">20,2</td>
      <td id="d07">25,1</td>
      <td id="d08">25,1</td>
      <td id="d09">20,2</td>
      <td id="d10">12,9</td>
      <td id="d11">4,8</td>
      <td id="d12">-2,4</td>
      <td id="d_top">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Yüksek Sıcaklık (°C)</th>
      <td id="e01">-2,8</td>
      <td id="e02">-1,0</td>
      <td id="e03">6,2</td>
      <td id="e04">15,0</td>
      <td id="e05">21,4</td>
      <td id="e06">27,7</td>
      <td id="e07">33,0</td>
      <td id="e08">33,3</td>
      <td id="e09">28,4</td>
      <td id="e10">20,0</td>
      <td id="e11">10,1</td>
      <td id="e12">1,3</td>
      <td id="d_top2">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Düşük Sıcaklık (°C)</th>
      <td id="f01">-10,3</td>
      <td id="f02">-9,3</td>
      <td id="f03">-2,6</td>
      <td id="f04">4,4</td>
      <td id="f05">8,9</td>
      <td id="f06">12,9</td>
      <td id="f07">17,2</td>
      <td id="f08">17,2</td>
      <td id="f09">12,4</td>
      <td id="f10">7,0</td>
      <td id="f11">0,8</td>
      <td id="f12">-5,5</td>
      <td id="d_top3">
      </td>
    </tr>
    <tr>
      <th>Ortalama Güneşlenme Süresi (saat)</th>
      <td id="g01">1,8</td>
      <td id="g02">2,7</td>
      <td id="g03">4,1</td>
      <td id="g04">5,5</td>
      <td id="g05">7,6</td>
      <td id="g06">9,8</td>
      <td id="g07">10,4</td>
      <td id="g08">10,0</td>
      <td id="g09">8,8</td>
      <td id="g10">6,1</td>
      <td id="g11">3,5</td>
      <td id="g12">1,9</td>
      <td id="d_top4">
      </td>
    </tr>
    <tr>
      <th>Ortalama Yağışlı Gün Sayısı</th>
      <td id="h01">13,42</td>
      <td id="h02">12,05</td>
      <td id="h03">14,29</td>
      <td id="h04">14,29</td>
      <td id="h05">14,16</td>
      <td id="h06">6,16</td>
      <td id="h07">2,10</td>
      <td id="h08">1,52</td>
      <td id="h09">2,90</td>
      <td id="h10">8,97</td>
      <td id="h11">9,66</td>
      <td id="h12">12,29</td>
      <td id="d_top5">
      </td>
    </tr>
    <tr>
      <th>
                Aylık Toplam Yağış Miktarı Ortalaması<span style="font-size:.8em;">
                  (mm)
                </span></th>
      <td id="i01">87,4</td>
      <td id="i02">95,7</td>
      <td id="i03">108,6</td>
      <td id="i04">102,6</td>
      <td id="i05">69,5</td>
      <td id="i06">26,1</td>
      <td id="i07">7,5</td>
      <td id="i08">5,6</td>
      <td id="i09">15,4</td>
      <td id="i10">62,2</td>
      <td id="i11">86,7</td>
      <td id="i12">86,9</td>
      <td id="d_top6">
      </td>
    </tr>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">
                  Ölçüm Periyodu ( 1964 - 2025)
                </th>
    </tr>
    <tr>
      <th style="color:#dd4747;">En Yüksek Sıcaklık (°C)</th>
      <td id="j01" title="03.01.1979" style="color:#dd4747;">10,2</td>
      <td id="j02" title="18.02.2010" style="color:#dd4747;">15,0</td>
      <td id="j03" title="30.03.2008" style="color:#dd4747;">22,8</td>
      <td id="j04" title="26.04.2008" style="color:#dd4747;">30,0</td>
      <td id="j05" title="21.05.2021" style="color:#dd4747;">32,2</td>
      <td id="j06" title="29.06.1984" style="color:#dd4747;">37,4</td>
      <td id="j07" title="16.07.2000" style="color:#dd4747;">41,6</td>
      <td id="j08" title="11.08.2006" style="color:#dd4747;">41,2</td>
      <td id="j09" title="01.09.2006" style="color:#dd4747;">37,0</td>
      <td id="j10" title="01.10.1999" style="color:#dd4747;">30,6</td>
      <td id="j11" title="01.11.1979" style="color:#dd4747;">21,6</td>
      <td id="j12" title="01.12.1983" style="color:#dd4747;">16,0</td>
      <td style="color:#dd4747;" id="d_top7">
      </td>
    </tr>
    <tr>
      <th style="color:#437ec1;">En Düşük Sıcaklık (°C)</th>
      <td id="k01" title="07.01.1983" style="color:#437ec1;">-32,6</td>
      <td id="k02" title="09.02.1982" style="color:#437ec1;">-34,4</td>
      <td id="k03" title="02.03.1985" style="color:#437ec1;">-31,4</td>
      <td id="k04" title="01.04.2003" style="color:#437ec1;">-10,2</td>
      <td id="k05" title="01.05.1981" style="color:#437ec1;">-2,4</td>
      <td id="k06" title="05.06.1967" style="color:#437ec1;">2,2</td>
      <td id="k07" title="06.07.1982" style="color:#437ec1;">3,6</td>
      <td id="k08" title="01.08.1982" style="color:#437ec1;">8,0</td>
      <td id="k09" title="09.09.2012" style="color:#437ec1;">0,0</td>
      <td id="k10" title="30.10.1969" style="color:#437ec1;">-3,0</td>
      <td id="k11" title="29.11.2004" style="color:#437ec1;">-25,8</td>
      <td id="k12" title="28.12.2002" style="color:#437ec1;">-32,0</td>
      <td style="color:#437ec1;" id="d_top8">
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="13">
        <i>En yüksek ve en düşük sıcaklıkların gerçekleşme tarihini görmek için fare imlecini değerlerin üstüne getiriniz.</i>
      </td>
    </tr>
  </tfoot>
</table>
<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th colspan="2">Günlük Toplam En Yüksek Yağış Miktarı</th>
      <th colspan="2">Günlük En Hızlı Rüzgar</th>
      <th colspan="2">En Yüksek Kar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="r">22.02.2004</td>
      <td class="l">
        <b>85,6 mm
                  </b>
      </td>
      <td class="r">06.07.2008</td>
      <td class="l">
        <b>48,9 m/sn
                  </b>
      </td>
      <td class="r">23.02.1992</td>
      <td class="l">
        <b>163 cm
                  </b>
      </td>
    </tr>
  </tbody>
</table>
