<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th style="width:22%">GUMUSHANE</th>
      <th style="width:6%">Ocak</th>
      <th style="width:6%">Şubat</th>
      <th style="width:6%">Mart</th>
      <th style="width:6%">Nisan</th>
      <th style="width:6%">Mayıs</th>
      <th style="width:6%">Haziran</th>
      <th style="width:6%">Temmuz</th>
      <th style="width:6%">Ağustos</th>
      <th style="width:6%">Eylül</th>
      <th style="width:6%">Ekim</th>
      <th style="width:6%">Kasım</th>
      <th style="width:6%">Aralık</th>
      <th style="width:6%">Yıllık</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">Ölçüm Periyodu ( 1961 - 2025)</th>
    </tr>
    <tr>
      <th>Ortalama Sıcaklık (°C)</th>
      <td id="d01">-1,7</td>
      <td id="d02">-0,5</td>
      <td id="d03">3,7</td>
      <td id="d04">9,4</td>
      <td id="d05">13,6</td>
      <td id="d06">17,2</td>
      <td id="d07">20,0</td>
      <td id="d08">20,3</td>
      <td id="d09">16,5</td>
      <td id="d10">11,3</td>
      <td id="d11">5,1</td>
      <td id="d12">0,6</td>
      <td id="d_top">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Yüksek Sıcaklık (°C)</th>
      <td id="e01">3,1</td>
      <td id="e02">5,4</td>
      <td id="e03">10,0</td>
      <td id="e04">16,4</td>
      <td id="e05">21,2</td>
      <td id="e06">25,2</td>
      <td id="e07">28,3</td>
      <td id="e08">29,1</td>
      <td id="e09">25,5</td>
      <td id="e10">19,0</td>
      <td id="e11">10,9</td>
      <td id="e12">5,0</td>
      <td id="d_top2">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Düşük Sıcaklık (°C)</th>
      <td id="f01">-5,3</td>
      <td id="f02">-4,8</td>
      <td id="f03">-1,0</td>
      <td id="f04">3,8</td>
      <td id="f05">7,6</td>
      <td id="f06">10,9</td>
      <td id="f07">13,9</td>
      <td id="f08">14,0</td>
      <td id="f09">10,3</td>
      <td id="f10">6,0</td>
      <td id="f11">1,0</td>
      <td id="f12">-2,9</td>
      <td id="d_top3">
      </td>
    </tr>
    <tr>
      <th>Ortalama Güneşlenme Süresi (saat)</th>
      <td id="g01">1,5</td>
      <td id="g02">3,8</td>
      <td id="g03">5,0</td>
      <td id="g04">6,0</td>
      <td id="g05">7,2</td>
      <td id="g06">8,9</td>
      <td id="g07">9,9</td>
      <td id="g08">9,5</td>
      <td id="g09">7,9</td>
      <td id="g10">5,5</td>
      <td id="g11">2,4</td>
      <td id="g12">1,3</td>
      <td id="d_top4">
      </td>
    </tr>
    <tr>
      <th>Ortalama Yağışlı Gün Sayısı</th>
      <td id="h01">11,02</td>
      <td id="h02">10,26</td>
      <td id="h03">12,60</td>
      <td id="h04">13,38</td>
      <td id="h05">15,22</td>
      <td id="h06">10,34</td>
      <td id="h07">4,12</td>
      <td id="h08">3,62</td>
      <td id="h09">5,43</td>
      <td id="h10">9,29</td>
      <td id="h11">9,68</td>
      <td id="h12">11,23</td>
      <td id="d_top5">
      </td>
    </tr>
    <tr>
      <th>
                Aylık Toplam Yağış Miktarı Ortalaması<span style="font-size:.8em;">
                  (mm)
                </span></th>
      <td id="i01">35,4</td>
      <td id="i02">30,6</td>
      <td id="i03">46,0</td>
      <td id="i04">59,0</td>
      <td id="i05">69,6</td>
      <td id="i06">47,3</td>
      <td id="i07">14,7</td>
      <td id="i08">13,5</td>
      <td id="i09">21,3</td>
      <td id="i10">43,0</td>
      <td id="i11">41,6</td>
      <td id="i12">40,5</td>
      <td id="d_top6">
      </td>
    </tr>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">
                  Ölçüm Periyodu ( 1961 - 2025)
                </th>
    </tr>
    <tr>
      <th style="color:#dd4747;">En Yüksek Sıcaklık (°C)</th>
      <td id="j01" title="13.01.2021" style="color:#dd4747;">15,5</td>
      <td id="j02" title="26.02.1977" style="color:#dd4747;">18,0</td>
      <td id="j03" title="31.03.2024" style="color:#dd4747;">24,2</td>
      <td id="j04" title="25.04.2024" style="color:#dd4747;">30,7</td>
      <td id="j05" title="21.05.2021" style="color:#dd4747;">34,4</td>
      <td id="j06" title="30.06.1974" style="color:#dd4747;">36,2</td>
      <td id="j07" title="30.07.2000" style="color:#dd4747;">41,0</td>
      <td id="j08" title="02.08.2017" style="color:#dd4747;">41,1</td>
      <td id="j09" title="01.09.2022" style="color:#dd4747;">37,7</td>
      <td id="j10" title="02.10.1999" style="color:#dd4747;">32,0</td>
      <td id="j11" title="08.11.2025" style="color:#dd4747;">22,6</td>
      <td id="j12" title="04.12.2010" style="color:#dd4747;">19,2</td>
      <td style="color:#dd4747;" id="d_top7">
      </td>
    </tr>
    <tr>
      <th style="color:#437ec1;">En Düşük Sıcaklık (°C)</th>
      <td id="k01" title="20.01.1972" style="color:#437ec1;">-23,6</td>
      <td id="k02" title="22.02.1985" style="color:#437ec1;">-25,7</td>
      <td id="k03" title="02.03.1985" style="color:#437ec1;">-22,6</td>
      <td id="k04" title="05.04.2004" style="color:#437ec1;">-11,0</td>
      <td id="k05" title="02.05.1981" style="color:#437ec1;">-2,8</td>
      <td id="k06" title="04.06.1994" style="color:#437ec1;">1,8</td>
      <td id="k07" title="11.07.1992" style="color:#437ec1;">4,5</td>
      <td id="k08" title="17.08.1975" style="color:#437ec1;">4,9</td>
      <td id="k09" title="28.09.2009" style="color:#437ec1;">-1,0</td>
      <td id="k10" title="23.10.1977" style="color:#437ec1;">-4,8</td>
      <td id="k11" title="23.11.2001" style="color:#437ec1;">-15,0</td>
      <td id="k12" title="27.12.2002" style="color:#437ec1;">-21,0</td>
      <td style="color:#437ec1;" id="d_top8">
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="13">
        <i>En yüksek ve en düşük sıcaklıkların gerçekleşme tarihini görmek için fare imlecini değerlerin üstüne getiriniz.</i>
      </td>
    </tr>
  </tfoot>
</table>
<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th colspan="2">Günlük Toplam En Yüksek Yağış Miktarı</th>
      <th colspan="2">Günlük En Hızlı Rüzgar</th>
      <th colspan="2">En Yüksek Kar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="r">20.06.1990</td>
      <td class="l">
        <b>51,7 mm
                  </b>
      </td>
      <td class="r">10.08.2009</td>
      <td class="l">
        <b>37,0 m/sn
                  </b>
      </td>
      <td class="r">21.01.1976</td>
      <td class="l">
        <b>80 cm
                  </b>
      </td>
    </tr>
  </tbody>
</table>
