<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th style="width:22%">BURDUR</th>
      <th style="width:6%">Ocak</th>
      <th style="width:6%">Şubat</th>
      <th style="width:6%">Mart</th>
      <th style="width:6%">Nisan</th>
      <th style="width:6%">Mayıs</th>
      <th style="width:6%">Haziran</th>
      <th style="width:6%">Temmuz</th>
      <th style="width:6%">Ağustos</th>
      <th style="width:6%">Eylül</th>
      <th style="width:6%">Ekim</th>
      <th style="width:6%">Kasım</th>
      <th style="width:6%">Aralık</th>
      <th style="width:6%">Yıllık</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">Ölçüm Periyodu ( 1931 - 2025)</th>
    </tr>
    <tr>
      <th>Ortalama Sıcaklık (°C)</th>
      <td id="d01">2,6</td>
      <td id="d02">3,9</td>
      <td id="d03">6,9</td>
      <td id="d04">11,7</td>
      <td id="d05">16,5</td>
      <td id="d06">21,1</td>
      <td id="d07">24,7</td>
      <td id="d08">24,7</td>
      <td id="d09">20,3</td>
      <td id="d10">14,5</td>
      <td id="d11">8,9</td>
      <td id="d12">4,4</td>
      <td id="d_top">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Yüksek Sıcaklık (°C)</th>
      <td id="e01">6,9</td>
      <td id="e02">8,9</td>
      <td id="e03">12,7</td>
      <td id="e04">17,9</td>
      <td id="e05">23,1</td>
      <td id="e06">28,2</td>
      <td id="e07">32,1</td>
      <td id="e08">32,4</td>
      <td id="e09">28,0</td>
      <td id="e10">21,6</td>
      <td id="e11">14,5</td>
      <td id="e12">8,5</td>
      <td id="d_top2">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Düşük Sıcaklık (°C)</th>
      <td id="f01">-0,8</td>
      <td id="f02">-0,3</td>
      <td id="f03">2,0</td>
      <td id="f04">6,1</td>
      <td id="f05">10,2</td>
      <td id="f06">14,0</td>
      <td id="f07">17,1</td>
      <td id="f08">17,0</td>
      <td id="f09">13,0</td>
      <td id="f10">8,4</td>
      <td id="f11">4,1</td>
      <td id="f12">1,0</td>
      <td id="d_top3">
      </td>
    </tr>
    <tr>
      <th>Ortalama Güneşlenme Süresi (saat)</th>
      <td id="g01">3,8</td>
      <td id="g02">5,0</td>
      <td id="g03">5,9</td>
      <td id="g04">7,1</td>
      <td id="g05">8,9</td>
      <td id="g06">10,8</td>
      <td id="g07">11,7</td>
      <td id="g08">11,0</td>
      <td id="g09">9,2</td>
      <td id="g10">7,3</td>
      <td id="g11">5,5</td>
      <td id="g12">3,4</td>
      <td id="d_top4">
      </td>
    </tr>
    <tr>
      <th>Ortalama Yağışlı Gün Sayısı</th>
      <td id="h01">11,11</td>
      <td id="h02">9,39</td>
      <td id="h03">9,91</td>
      <td id="h04">9,53</td>
      <td id="h05">9,57</td>
      <td id="h06">6,22</td>
      <td id="h07">2,81</td>
      <td id="h08">2,20</td>
      <td id="h09">3,09</td>
      <td id="h10">5,92</td>
      <td id="h11">6,97</td>
      <td id="h12">10,98</td>
      <td id="d_top5">
      </td>
    </tr>
    <tr>
      <th>
                Aylık Toplam Yağış Miktarı Ortalaması<span style="font-size:.8em;">
                  (mm)
                </span></th>
      <td id="i01">56,1</td>
      <td id="i02">40,1</td>
      <td id="i03">45,6</td>
      <td id="i04">43,4</td>
      <td id="i05">46,4</td>
      <td id="i06">30,5</td>
      <td id="i07">13,6</td>
      <td id="i08">9,2</td>
      <td id="i09">16,0</td>
      <td id="i10">31,0</td>
      <td id="i11">35,7</td>
      <td id="i12">60,4</td>
      <td id="d_top6">
      </td>
    </tr>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">
                  Ölçüm Periyodu ( 1931 - 2025)
                </th>
    </tr>
    <tr>
      <th style="color:#dd4747;">En Yüksek Sıcaklık (°C)</th>
      <td id="j01" title="05.01.1971" style="color:#dd4747;">16,8</td>
      <td id="j02" title="16.02.2016" style="color:#dd4747;">23,4</td>
      <td id="j03" title="27.03.2001" style="color:#dd4747;">27,8</td>
      <td id="j04" title="22.04.2008" style="color:#dd4747;">30,7</td>
      <td id="j05" title="18.05.2020" style="color:#dd4747;">35,4</td>
      <td id="j06" title="24.06.2024" style="color:#dd4747;">40,9</td>
      <td id="j07" title="27.07.2025" style="color:#dd4747;">41,8</td>
      <td id="j08" title="16.08.2023" style="color:#dd4747;">41,6</td>
      <td id="j09" title="17.09.2017" style="color:#dd4747;">39,0</td>
      <td id="j10" title="02.10.2022" style="color:#dd4747;">33,6</td>
      <td id="j11" title="07.11.2021" style="color:#dd4747;">26,5</td>
      <td id="j12" title="03.12.2010" style="color:#dd4747;">20,5</td>
      <td style="color:#dd4747;" id="d_top7">
      </td>
    </tr>
    <tr>
      <th style="color:#437ec1;">En Düşük Sıcaklık (°C)</th>
      <td id="k01" title="05.01.1942" style="color:#437ec1;">-16,7</td>
      <td id="k02" title="08.02.1932" style="color:#437ec1;">-15,0</td>
      <td id="k03" title="01.03.1985" style="color:#437ec1;">-11,6</td>
      <td id="k04" title="10.04.1997" style="color:#437ec1;">-7,0</td>
      <td id="k05" title="05.05.1990" style="color:#437ec1;">-0,4</td>
      <td id="k06" title="01.06.1943" style="color:#437ec1;">3,8</td>
      <td id="k07" title="11.07.1958" style="color:#437ec1;">9,0</td>
      <td id="k08" title="21.08.1949" style="color:#437ec1;">8,8</td>
      <td id="k09" title="29.09.1931" style="color:#437ec1;">3,0</td>
      <td id="k10" title="23.10.1947" style="color:#437ec1;">-2,4</td>
      <td id="k11" title="28.11.1948" style="color:#437ec1;">-12,0</td>
      <td id="k12" title="29.12.1948" style="color:#437ec1;">-15,3</td>
      <td style="color:#437ec1;" id="d_top8">
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="13">
        <i>En yüksek ve en düşük sıcaklıkların gerçekleşme tarihini görmek için fare imlecini değerlerin üstüne getiriniz.</i>
      </td>
    </tr>
  </tfoot>
</table>
<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th colspan="2">Günlük Toplam En Yüksek Yağış Miktarı</th>
      <th colspan="2">Günlük En Hızlı Rüzgar</th>
      <th colspan="2">En Yüksek Kar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="r">21.12.1952</td>
      <td class="l">
        <b>107,7 mm
                  </b>
      </td>
      <td class="r">20.02.2012</td>
      <td class="l">
        <b>48,9 m/sn
                  </b>
      </td>
      <td class="r">25.02.1985</td>
      <td class="l">
        <b>46 cm
                  </b>
      </td>
    </tr>
  </tbody>
</table>
