<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th style="width:22%">MUGLA</th>
      <th style="width:6%">Ocak</th>
      <th style="width:6%">Şubat</th>
      <th style="width:6%">Mart</th>
      <th style="width:6%">Nisan</th>
      <th style="width:6%">Mayıs</th>
      <th style="width:6%">Haziran</th>
      <th style="width:6%">Temmuz</th>
      <th style="width:6%">Ağustos</th>
      <th style="width:6%">Eylül</th>
      <th style="width:6%">Ekim</th>
      <th style="width:6%">Kasım</th>
      <th style="width:6%">Aralık</th>
      <th style="width:6%">Yıllık</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">Ölçüm Periyodu ( 2001 - 2025)</th>
    </tr>
    <tr>
      <th>Ortalama Sıcaklık (°C)</th>
      <td id="d01">10,8</td>
      <td id="d02">11,3</td>
      <td id="d03">13,2</td>
      <td id="d04">16,0</td>
      <td id="d05">20,0</td>
      <td id="d06">24,4</td>
      <td id="d07">27,5</td>
      <td id="d08">27,6</td>
      <td id="d09">24,7</td>
      <td id="d10">20,0</td>
      <td id="d11">15,4</td>
      <td id="d12">11,9</td>
      <td id="d_top">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Yüksek Sıcaklık (°C)</th>
      <td id="e01">15,5</td>
      <td id="e02">16,1</td>
      <td id="e03">18,5</td>
      <td id="e04">21,6</td>
      <td id="e05">25,7</td>
      <td id="e06">30,2</td>
      <td id="e07">33,2</td>
      <td id="e08">32,9</td>
      <td id="e09">30,3</td>
      <td id="e10">26,1</td>
      <td id="e11">21,5</td>
      <td id="e12">17,2</td>
      <td id="d_top2">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Düşük Sıcaklık (°C)</th>
      <td id="f01">6,8</td>
      <td id="f02">6,8</td>
      <td id="f03">8,0</td>
      <td id="f04">10,2</td>
      <td id="f05">13,9</td>
      <td id="f06">18,0</td>
      <td id="f07">21,1</td>
      <td id="f08">21,4</td>
      <td id="f09">18,4</td>
      <td id="f10">14,1</td>
      <td id="f11">10,3</td>
      <td id="f12">7,8</td>
      <td id="d_top3">
      </td>
    </tr>
    <tr>
      <th>Ortalama Güneşlenme Süresi (saat)</th>
      <td id="g01">4,4</td>
      <td id="g02">5,3</td>
      <td id="g03">6,4</td>
      <td id="g04">7,6</td>
      <td id="g05">8,7</td>
      <td id="g06">9,7</td>
      <td id="g07">9,6</td>
      <td id="g08">8,9</td>
      <td id="g09">8,0</td>
      <td id="g10">6,7</td>
      <td id="g11">5,6</td>
      <td id="g12">4,2</td>
      <td id="d_top4">
      </td>
    </tr>
    <tr>
      <th>Ortalama Yağışlı Gün Sayısı</th>
      <td id="h01">12,88</td>
      <td id="h02">9,08</td>
      <td id="h03">7,76</td>
      <td id="h04">6,64</td>
      <td id="h05">4,20</td>
      <td id="h06">1,68</td>
      <td id="h07">0,40</td>
      <td id="h08">0,20</td>
      <td id="h09">1,52</td>
      <td id="h10">4,88</td>
      <td id="h11">7,60</td>
      <td id="h12">11,52</td>
      <td id="d_top5">
      </td>
    </tr>
    <tr>
      <th>
                Aylık Toplam Yağış Miktarı Ortalaması<span style="font-size:.8em;">
                  (mm)
                </span></th>
      <td id="i01">186,2</td>
      <td id="i02">109,0</td>
      <td id="i03">61,8</td>
      <td id="i04">47,8</td>
      <td id="i05">22,6</td>
      <td id="i06">5,2</td>
      <td id="i07">4,3</td>
      <td id="i08">3,7</td>
      <td id="i09">27,1</td>
      <td id="i10">70,8</td>
      <td id="i11">121,4</td>
      <td id="i12">206,5</td>
      <td id="d_top6">
      </td>
    </tr>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">
                  Ölçüm Periyodu ( 2001 - 2025)
                </th>
    </tr>
    <tr>
      <th style="color:#dd4747;">En Yüksek Sıcaklık (°C)</th>
      <td id="j01" title="10.01.2010" style="color:#dd4747;">21,4</td>
      <td id="j02" title="24.02.2021" style="color:#dd4747;">25,8</td>
      <td id="j03" title="31.03.2001" style="color:#dd4747;">29,2</td>
      <td id="j04" title="30.04.2013" style="color:#dd4747;">33,5</td>
      <td id="j05" title="19.05.2020" style="color:#dd4747;">37,9</td>
      <td id="j06" title="25.06.2007" style="color:#dd4747;">43,2</td>
      <td id="j07" title="01.07.2017" style="color:#dd4747;">44,6</td>
      <td id="j08" title="02.08.2021" style="color:#dd4747;">44,0</td>
      <td id="j09" title="07.09.2015" style="color:#dd4747;">38,6</td>
      <td id="j10" title="18.10.2012" style="color:#dd4747;">35,1</td>
      <td id="j11" title="01.11.2008" style="color:#dd4747;">30,4</td>
      <td id="j12" title="04.12.2010" style="color:#dd4747;">23,8</td>
      <td style="color:#dd4747;" id="d_top7">
      </td>
    </tr>
    <tr>
      <th style="color:#437ec1;">En Düşük Sıcaklık (°C)</th>
      <td id="k01" title="03.01.2016" style="color:#437ec1;">-3,5</td>
      <td id="k02" title="15.02.2004" style="color:#437ec1;">-3,8</td>
      <td id="k03" title="07.03.2004" style="color:#437ec1;">0,4</td>
      <td id="k04" title="07.04.2025" style="color:#437ec1;">1,0</td>
      <td id="k05" title="01.05.2023" style="color:#437ec1;">7,4</td>
      <td id="k06" title="02.06.2020" style="color:#437ec1;">10,8</td>
      <td id="k07" title="01.07.2011" style="color:#437ec1;">16,0</td>
      <td id="k08" title="31.08.2012" style="color:#437ec1;">12,3</td>
      <td id="k09" title="27.09.2022" style="color:#437ec1;">10,1</td>
      <td id="k10" title="21.10.2005" style="color:#437ec1;">6,0</td>
      <td id="k11" title="22.11.2004" style="color:#437ec1;">1,4</td>
      <td id="k12" title="15.12.2013" style="color:#437ec1;">-1,3</td>
      <td style="color:#437ec1;" id="d_top8">
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="13">
        <i>En yüksek ve en düşük sıcaklıkların gerçekleşme tarihini görmek için fare imlecini değerlerin üstüne getiriniz.</i>
      </td>
    </tr>
  </tfoot>
</table>
<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th colspan="2">Günlük Toplam En Yüksek Yağış Miktarı</th>
      <th colspan="2">Günlük En Hızlı Rüzgar</th>
      <th colspan="2">En Yüksek Kar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="r">02.12.2024</td>
      <td class="l">
        <b>153,0 mm
                  </b>
      </td>
      <td class="r">22.01.2010</td>
      <td class="l">
        <b>29,8 m/sn
                  </b>
      </td>
      <td class="r">..</td>
      <td class="l">
        <b> cm
                  </b>
      </td>
    </tr>
  </tbody>
</table>
