<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th style="width:22%">KONYA</th>
      <th style="width:6%">Ocak</th>
      <th style="width:6%">Şubat</th>
      <th style="width:6%">Mart</th>
      <th style="width:6%">Nisan</th>
      <th style="width:6%">Mayıs</th>
      <th style="width:6%">Haziran</th>
      <th style="width:6%">Temmuz</th>
      <th style="width:6%">Ağustos</th>
      <th style="width:6%">Eylül</th>
      <th style="width:6%">Ekim</th>
      <th style="width:6%">Kasım</th>
      <th style="width:6%">Aralık</th>
      <th style="width:6%">Yıllık</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">Ölçüm Periyodu ( 1927 - 2025)</th>
    </tr>
    <tr>
      <th>Ortalama Sıcaklık (°C)</th>
      <td id="d01">-0,1</td>
      <td id="d02">1,4</td>
      <td id="d03">5,6</td>
      <td id="d04">11,1</td>
      <td id="d05">15,8</td>
      <td id="d06">20,2</td>
      <td id="d07">23,6</td>
      <td id="d08">23,4</td>
      <td id="d09">18,9</td>
      <td id="d10">12,8</td>
      <td id="d11">6,6</td>
      <td id="d12">1,8</td>
      <td id="d_top">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Yüksek Sıcaklık (°C)</th>
      <td id="e01">4,8</td>
      <td id="e02">7,0</td>
      <td id="e03">11,8</td>
      <td id="e04">17,6</td>
      <td id="e05">22,3</td>
      <td id="e06">26,7</td>
      <td id="e07">30,2</td>
      <td id="e08">30,3</td>
      <td id="e09">26,1</td>
      <td id="e10">19,9</td>
      <td id="e11">13,2</td>
      <td id="e12">6,7</td>
      <td id="d_top2">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Düşük Sıcaklık (°C)</th>
      <td id="f01">-4,1</td>
      <td id="f02">-3,3</td>
      <td id="f03">-0,2</td>
      <td id="f04">4,4</td>
      <td id="f05">8,6</td>
      <td id="f06">12,7</td>
      <td id="f07">16,0</td>
      <td id="f08">15,8</td>
      <td id="f09">11,1</td>
      <td id="f10">5,9</td>
      <td id="f11">0,9</td>
      <td id="f12">-2,2</td>
      <td id="d_top3">
      </td>
    </tr>
    <tr>
      <th>Ortalama Güneşlenme Süresi (saat)</th>
      <td id="g01">3,2</td>
      <td id="g02">4,6</td>
      <td id="g03">5,9</td>
      <td id="g04">7,1</td>
      <td id="g05">8,9</td>
      <td id="g06">10,5</td>
      <td id="g07">11,6</td>
      <td id="g08">11,2</td>
      <td id="g09">9,6</td>
      <td id="g10">7,3</td>
      <td id="g11">5,3</td>
      <td id="g12">3,2</td>
      <td id="d_top4">
      </td>
    </tr>
    <tr>
      <th>Ortalama Yağışlı Gün Sayısı</th>
      <td id="h01">9,64</td>
      <td id="h02">8,12</td>
      <td id="h03">8,82</td>
      <td id="h04">8,76</td>
      <td id="h05">10,26</td>
      <td id="h06">6,63</td>
      <td id="h07">2,16</td>
      <td id="h08">1,45</td>
      <td id="h09">3,10</td>
      <td id="h10">5,87</td>
      <td id="h11">6,42</td>
      <td id="h12">9,98</td>
      <td id="d_top5">
      </td>
    </tr>
    <tr>
      <th>
                Aylık Toplam Yağış Miktarı Ortalaması<span style="font-size:.8em;">
                  (mm)
                </span></th>
      <td id="i01">37,3</td>
      <td id="i02">28,1</td>
      <td id="i03">29,2</td>
      <td id="i04">31,4</td>
      <td id="i05">43,4</td>
      <td id="i06">25,4</td>
      <td id="i07">7,6</td>
      <td id="i08">6,2</td>
      <td id="i09">13,6</td>
      <td id="i10">29,1</td>
      <td id="i11">32,1</td>
      <td id="i12">43,0</td>
      <td id="d_top6">
      </td>
    </tr>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">
                  Ölçüm Periyodu ( 1927 - 2025)
                </th>
    </tr>
    <tr>
      <th style="color:#dd4747;">En Yüksek Sıcaklık (°C)</th>
      <td id="j01" title="12.01.2021" style="color:#dd4747;">19,3</td>
      <td id="j02" title="27.02.1955" style="color:#dd4747;">23,8</td>
      <td id="j03" title="27.03.2001" style="color:#dd4747;">28,9</td>
      <td id="j04" title="24.04.1928" style="color:#dd4747;">34,6</td>
      <td id="j05" title="19.05.1928" style="color:#dd4747;">34,5</td>
      <td id="j06" title="25.06.2024" style="color:#dd4747;">37,0</td>
      <td id="j07" title="30.07.2000" style="color:#dd4747;">40,6</td>
      <td id="j08" title="14.08.2023" style="color:#dd4747;">40,9</td>
      <td id="j09" title="04.09.2020" style="color:#dd4747;">38,8</td>
      <td id="j10" title="02.10.2022" style="color:#dd4747;">32,3</td>
      <td id="j11" title="15.11.1927" style="color:#dd4747;">27,0</td>
      <td id="j12" title="02.12.1956" style="color:#dd4747;">21,8</td>
      <td style="color:#dd4747;" id="d_top7">
      </td>
    </tr>
    <tr>
      <th style="color:#437ec1;">En Düşük Sıcaklık (°C)</th>
      <td id="k01" title="06.01.1942" style="color:#437ec1;">-28,2</td>
      <td id="k02" title="06.02.1972" style="color:#437ec1;">-26,5</td>
      <td id="k03" title="03.03.1945" style="color:#437ec1;">-16,4</td>
      <td id="k04" title="11.04.1997" style="color:#437ec1;">-8,6</td>
      <td id="k05" title="02.05.1981" style="color:#437ec1;">-1,2</td>
      <td id="k06" title="07.06.1933" style="color:#437ec1;">1,8</td>
      <td id="k07" title="12.07.1958" style="color:#437ec1;">6,0</td>
      <td id="k08" title="22.08.1949" style="color:#437ec1;">5,3</td>
      <td id="k09" title="29.09.1931" style="color:#437ec1;">-3,0</td>
      <td id="k10" title="02.10.1927" style="color:#437ec1;">-11,0</td>
      <td id="k11" title="20.11.1988" style="color:#437ec1;">-20,0</td>
      <td id="k12" title="08.12.1941" style="color:#437ec1;">-26,0</td>
      <td style="color:#437ec1;" id="d_top8">
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="13">
        <i>En yüksek ve en düşük sıcaklıkların gerçekleşme tarihini görmek için fare imlecini değerlerin üstüne getiriniz.</i>
      </td>
    </tr>
  </tfoot>
</table>
<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th colspan="2">Günlük Toplam En Yüksek Yağış Miktarı</th>
      <th colspan="2">Günlük En Hızlı Rüzgar</th>
      <th colspan="2">En Yüksek Kar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="r">22.02.1945</td>
      <td class="l">
        <b>73,7 mm
                  </b>
      </td>
      <td class="r">18.04.2012</td>
      <td class="l">
        <b>32,4 m/sn
                  </b>
      </td>
      <td class="r">22.02.1945</td>
      <td class="l">
        <b>66 cm
                  </b>
      </td>
    </tr>
  </tbody>
</table>
