<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th style="width:22%">ELAZIG</th>
      <th style="width:6%">Ocak</th>
      <th style="width:6%">Şubat</th>
      <th style="width:6%">Mart</th>
      <th style="width:6%">Nisan</th>
      <th style="width:6%">Mayıs</th>
      <th style="width:6%">Haziran</th>
      <th style="width:6%">Temmuz</th>
      <th style="width:6%">Ağustos</th>
      <th style="width:6%">Eylül</th>
      <th style="width:6%">Ekim</th>
      <th style="width:6%">Kasım</th>
      <th style="width:6%">Aralık</th>
      <th style="width:6%">Yıllık</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">Ölçüm Periyodu ( 1938 - 2025)</th>
    </tr>
    <tr>
      <th>Ortalama Sıcaklık (°C)</th>
      <td id="d01">-0,7</td>
      <td id="d02">0,8</td>
      <td id="d03">5,7</td>
      <td id="d04">12,0</td>
      <td id="d05">17,2</td>
      <td id="d06">22,9</td>
      <td id="d07">27,2</td>
      <td id="d08">27,0</td>
      <td id="d09">22,1</td>
      <td id="d10">14,9</td>
      <td id="d11">7,6</td>
      <td id="d12">2,0</td>
      <td id="d_top">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Yüksek Sıcaklık (°C)</th>
      <td id="e01">3,1</td>
      <td id="e02">5,2</td>
      <td id="e03">11,0</td>
      <td id="e04">18,0</td>
      <td id="e05">23,7</td>
      <td id="e06">29,9</td>
      <td id="e07">34,4</td>
      <td id="e08">34,4</td>
      <td id="e09">29,5</td>
      <td id="e10">21,6</td>
      <td id="e11">12,8</td>
      <td id="e12">5,7</td>
      <td id="d_top2">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Düşük Sıcaklık (°C)</th>
      <td id="f01">-3,8</td>
      <td id="f02">-2,9</td>
      <td id="f03">1,0</td>
      <td id="f04">6,5</td>
      <td id="f05">10,9</td>
      <td id="f06">15,4</td>
      <td id="f07">19,4</td>
      <td id="f08">19,3</td>
      <td id="f09">14,6</td>
      <td id="f10">8,9</td>
      <td id="f11">3,2</td>
      <td id="f12">-1,1</td>
      <td id="d_top3">
      </td>
    </tr>
    <tr>
      <th>Ortalama Güneşlenme Süresi (saat)</th>
      <td id="g01">2,7</td>
      <td id="g02">3,9</td>
      <td id="g03">5,2</td>
      <td id="g04">6,7</td>
      <td id="g05">8,7</td>
      <td id="g06">11,1</td>
      <td id="g07">11,9</td>
      <td id="g08">11,1</td>
      <td id="g09">9,6</td>
      <td id="g10">7,1</td>
      <td id="g11">4,7</td>
      <td id="g12">2,5</td>
      <td id="d_top4">
      </td>
    </tr>
    <tr>
      <th>Ortalama Yağışlı Gün Sayısı</th>
      <td id="h01">12,06</td>
      <td id="h02">11,43</td>
      <td id="h03">12,50</td>
      <td id="h04">12,09</td>
      <td id="h05">10,78</td>
      <td id="h06">4,03</td>
      <td id="h07">1,20</td>
      <td id="h08">0,80</td>
      <td id="h09">2,15</td>
      <td id="h10">6,97</td>
      <td id="h11">9,10</td>
      <td id="h12">11,73</td>
      <td id="d_top5">
      </td>
    </tr>
    <tr>
      <th>
                Aylık Toplam Yağış Miktarı Ortalaması<span style="font-size:.8em;">
                  (mm)
                </span></th>
      <td id="i01">41,6</td>
      <td id="i02">42,8</td>
      <td id="i03">58,2</td>
      <td id="i04">63,2</td>
      <td id="i05">54,3</td>
      <td id="i06">12,1</td>
      <td id="i07">3,7</td>
      <td id="i08">1,8</td>
      <td id="i09">8,5</td>
      <td id="i10">38,8</td>
      <td id="i11">50,0</td>
      <td id="i12">45,3</td>
      <td id="d_top6">
      </td>
    </tr>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">
                  Ölçüm Periyodu ( 1938 - 2025)
                </th>
    </tr>
    <tr>
      <th style="color:#dd4747;">En Yüksek Sıcaklık (°C)</th>
      <td id="j01" title="27.01.2019" style="color:#dd4747;">13,0</td>
      <td id="j02" title="18.02.2016" style="color:#dd4747;">18,6</td>
      <td id="j03" title="24.03.2008" style="color:#dd4747;">26,4</td>
      <td id="j04" title="23.04.2008" style="color:#dd4747;">32,2</td>
      <td id="j05" title="21.05.2021" style="color:#dd4747;">36,6</td>
      <td id="j06" title="20.06.2024" style="color:#dd4747;">39,8</td>
      <td id="j07" title="30.07.2025" style="color:#dd4747;">43,0</td>
      <td id="j08" title="14.08.2019" style="color:#dd4747;">42,2</td>
      <td id="j09" title="01.09.2022" style="color:#dd4747;">39,7</td>
      <td id="j10" title="05.10.2022" style="color:#dd4747;">32,4</td>
      <td id="j11" title="08.11.2025" style="color:#dd4747;">25,1</td>
      <td id="j12" title="06.12.2010" style="color:#dd4747;">19,6</td>
      <td style="color:#dd4747;" id="d_top7">
      </td>
    </tr>
    <tr>
      <th style="color:#437ec1;">En Düşük Sıcaklık (°C)</th>
      <td id="k01" title="20.01.1972" style="color:#437ec1;">-22,6</td>
      <td id="k02" title="02.02.1972" style="color:#437ec1;">-21,4</td>
      <td id="k03" title="03.03.1985" style="color:#437ec1;">-17,0</td>
      <td id="k04" title="04.04.1965" style="color:#437ec1;">-7,0</td>
      <td id="k05" title="06.05.1990" style="color:#437ec1;">0,0</td>
      <td id="k06" title="05.06.1967" style="color:#437ec1;">4,0</td>
      <td id="k07" title="11.07.1992" style="color:#437ec1;">6,7</td>
      <td id="k08" title="28.08.1964" style="color:#437ec1;">10,2</td>
      <td id="k09" title="28.09.1992" style="color:#437ec1;">1,0</td>
      <td id="k10" title="27.10.1965" style="color:#437ec1;">-2,2</td>
      <td id="k11" title="23.11.2001" style="color:#437ec1;">-15,2</td>
      <td id="k12" title="30.12.1951" style="color:#437ec1;">-22,6</td>
      <td style="color:#437ec1;" id="d_top8">
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="13">
        <i>En yüksek ve en düşük sıcaklıkların gerçekleşme tarihini görmek için fare imlecini değerlerin üstüne getiriniz.</i>
      </td>
    </tr>
  </tfoot>
</table>
<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th colspan="2">Günlük Toplam En Yüksek Yağış Miktarı</th>
      <th colspan="2">Günlük En Hızlı Rüzgar</th>
      <th colspan="2">En Yüksek Kar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="r">06.05.2022</td>
      <td class="l">
        <b>74,4 mm
                  </b>
      </td>
      <td class="r">06.02.1992</td>
      <td class="l">
        <b>31,7 m/sn
                  </b>
      </td>
      <td class="r">19.12.1951</td>
      <td class="l">
        <b>68 cm
                  </b>
      </td>
    </tr>
  </tbody>
</table>
