<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th style="width:22%">BITLIS</th>
      <th style="width:6%">Ocak</th>
      <th style="width:6%">Şubat</th>
      <th style="width:6%">Mart</th>
      <th style="width:6%">Nisan</th>
      <th style="width:6%">Mayıs</th>
      <th style="width:6%">Haziran</th>
      <th style="width:6%">Temmuz</th>
      <th style="width:6%">Ağustos</th>
      <th style="width:6%">Eylül</th>
      <th style="width:6%">Ekim</th>
      <th style="width:6%">Kasım</th>
      <th style="width:6%">Aralık</th>
      <th style="width:6%">Yıllık</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">Ölçüm Periyodu ( 2011 - 2025)</th>
    </tr>
    <tr>
      <th>Ortalama Sıcaklık (°C)</th>
      <td id="d01">-4,2</td>
      <td id="d02">-3,3</td>
      <td id="d03">1,0</td>
      <td id="d04">7,5</td>
      <td id="d05">12,4</td>
      <td id="d06">18,4</td>
      <td id="d07">22,7</td>
      <td id="d08">23,1</td>
      <td id="d09">18,3</td>
      <td id="d10">11,2</td>
      <td id="d11">4,4</td>
      <td id="d12">-1,4</td>
      <td id="d_top">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Yüksek Sıcaklık (°C)</th>
      <td id="e01">-0,3</td>
      <td id="e02">1,0</td>
      <td id="e03">5,3</td>
      <td id="e04">12,6</td>
      <td id="e05">17,7</td>
      <td id="e06">24,4</td>
      <td id="e07">29,1</td>
      <td id="e08">29,8</td>
      <td id="e09">24,6</td>
      <td id="e10">16,7</td>
      <td id="e11">9,0</td>
      <td id="e12">2,4</td>
      <td id="d_top2">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Düşük Sıcaklık (°C)</th>
      <td id="f01">-7,9</td>
      <td id="f02">-7,2</td>
      <td id="f03">-2,7</td>
      <td id="f04">3,0</td>
      <td id="f05">7,2</td>
      <td id="f06">11,7</td>
      <td id="f07">15,9</td>
      <td id="f08">16,2</td>
      <td id="f09">11,6</td>
      <td id="f10">6,3</td>
      <td id="f11">0,7</td>
      <td id="f12">-4,8</td>
      <td id="d_top3">
      </td>
    </tr>
    <tr>
      <th>Ortalama Güneşlenme Süresi (saat)</th>
      <td id="g01">0,0</td>
      <td id="g02">0,0</td>
      <td id="g03">0,0</td>
      <td id="g04">0,0</td>
      <td id="g05">0,0</td>
      <td id="g06">0,0</td>
      <td id="g07">0,0</td>
      <td id="g08">0,0</td>
      <td id="g09">0,0</td>
      <td id="g10">0,0</td>
      <td id="g11">0,0</td>
      <td id="g12">0,0</td>
      <td id="d_top4">
      </td>
    </tr>
    <tr>
      <th>Ortalama Yağışlı Gün Sayısı</th>
      <td id="h01">14,53</td>
      <td id="h02">12,27</td>
      <td id="h03">16,40</td>
      <td id="h04">14,07</td>
      <td id="h05">14,93</td>
      <td id="h06">4,80</td>
      <td id="h07">2,73</td>
      <td id="h08">1,80</td>
      <td id="h09">2,80</td>
      <td id="h10">9,53</td>
      <td id="h11">10,20</td>
      <td id="h12">12,67</td>
      <td id="d_top5">
      </td>
    </tr>
    <tr>
      <th>
                Aylık Toplam Yağış Miktarı Ortalaması<span style="font-size:.8em;">
                  (mm)
                </span></th>
      <td id="i01">146,9</td>
      <td id="i02">107,4</td>
      <td id="i03">195,8</td>
      <td id="i04">126,5</td>
      <td id="i05">111,1</td>
      <td id="i06">15,9</td>
      <td id="i07">8,5</td>
      <td id="i08">7,1</td>
      <td id="i09">25,2</td>
      <td id="i10">90,8</td>
      <td id="i11">86,7</td>
      <td id="i12">128,3</td>
      <td id="d_top6">
      </td>
    </tr>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">
                  Ölçüm Periyodu ( 2011 - 2025)
                </th>
    </tr>
    <tr>
      <th style="color:#dd4747;">En Yüksek Sıcaklık (°C)</th>
      <td id="j01" title="12.01.2021" style="color:#dd4747;">10,1</td>
      <td id="j02" title="05.02.2015" style="color:#dd4747;">21,9</td>
      <td id="j03" title="28.03.2025" style="color:#dd4747;">16,8</td>
      <td id="j04" title="29.04.2024" style="color:#dd4747;">22,9</td>
      <td id="j05" title="21.05.2021" style="color:#dd4747;">27,4</td>
      <td id="j06" title="19.06.2021" style="color:#dd4747;">31,5</td>
      <td id="j07" title="20.07.2021" style="color:#dd4747;">34,6</td>
      <td id="j08" title="06.08.2025" style="color:#dd4747;">36,1</td>
      <td id="j09" title="02.09.2025" style="color:#dd4747;">33,2</td>
      <td id="j10" title="02.10.2012" style="color:#dd4747;">26,4</td>
      <td id="j11" title="04.11.2015" style="color:#dd4747;">21,7</td>
      <td id="j12" title="03.12.2012" style="color:#dd4747;">13,3</td>
      <td style="color:#dd4747;" id="d_top7">
      </td>
    </tr>
    <tr>
      <th style="color:#437ec1;">En Düşük Sıcaklık (°C)</th>
      <td id="k01" title="28.01.2016" style="color:#437ec1;">-24,1</td>
      <td id="k02" title="13.02.2023" style="color:#437ec1;">-21,3</td>
      <td id="k03" title="05.03.2012" style="color:#437ec1;">-20,3</td>
      <td id="k04" title="01.04.2014" style="color:#437ec1;">-10,0</td>
      <td id="k05" title="17.05.2015" style="color:#437ec1;">0,0</td>
      <td id="k06" title="02.06.2017" style="color:#437ec1;">5,2</td>
      <td id="k07" title="02.07.2012" style="color:#437ec1;">8,1</td>
      <td id="k08" title="23.08.2020" style="color:#437ec1;">9,9</td>
      <td id="k09" title="26.09.2016" style="color:#437ec1;">2,7</td>
      <td id="k10" title="20.10.2024" style="color:#437ec1;">-1,7</td>
      <td id="k11" title="14.11.2011" style="color:#437ec1;">-12,5</td>
      <td id="k12" title="02.12.2021" style="color:#437ec1;">-24,4</td>
      <td style="color:#437ec1;" id="d_top8">
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="13">
        <i>En yüksek ve en düşük sıcaklıkların gerçekleşme tarihini görmek için fare imlecini değerlerin üstüne getiriniz.</i>
      </td>
    </tr>
  </tfoot>
</table>
<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th colspan="2">Günlük Toplam En Yüksek Yağış Miktarı</th>
      <th colspan="2">Günlük En Hızlı Rüzgar</th>
      <th colspan="2">En Yüksek Kar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="r">15.12.2013</td>
      <td class="l">
        <b>96,0 mm
                  </b>
      </td>
      <td class="r">24.03.2018</td>
      <td class="l">
        <b>29,3 m/sn
                  </b>
      </td>
      <td class="r">05.03.2012</td>
      <td class="l">
        <b>250 cm
                  </b>
      </td>
    </tr>
  </tbody>
</table>
