<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th style="width:22%">ADANA</th>
      <th style="width:6%">Ocak</th>
      <th style="width:6%">Şubat</th>
      <th style="width:6%">Mart</th>
      <th style="width:6%">Nisan</th>
      <th style="width:6%">Mayıs</th>
      <th style="width:6%">Haziran</th>
      <th style="width:6%">Temmuz</th>
      <th style="width:6%">Ağustos</th>
      <th style="width:6%">Eylül</th>
      <th style="width:6%">Ekim</th>
      <th style="width:6%">Kasım</th>
      <th style="width:6%">Aralık</th>
      <th style="width:6%">Yıllık</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">Ölçüm Periyodu ( 1929 - 2025)</th>
    </tr>
    <tr>
      <th>Ortalama Sıcaklık (°C)</th>
      <td id="d01">9,6</td>
      <td id="d02">10,6</td>
      <td id="d03">13,5</td>
      <td id="d04">17,6</td>
      <td id="d05">21,9</td>
      <td id="d06">25,7</td>
      <td id="d07">28,3</td>
      <td id="d08">28,8</td>
      <td id="d09">26,2</td>
      <td id="d10">21,8</td>
      <td id="d11">16,0</td>
      <td id="d12">11,3</td>
      <td id="d_top">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Yüksek Sıcaklık (°C)</th>
      <td id="e01">14,9</td>
      <td id="e02">16,2</td>
      <td id="e03">19,5</td>
      <td id="e04">23,8</td>
      <td id="e05">28,3</td>
      <td id="e06">31,8</td>
      <td id="e07">33,9</td>
      <td id="e08">34,8</td>
      <td id="e09">33,2</td>
      <td id="e10">29,1</td>
      <td id="e11">22,7</td>
      <td id="e12">16,9</td>
      <td id="d_top2">
      </td>
    </tr>
    <tr>
      <th>Ortalama En Düşük Sıcaklık (°C)</th>
      <td id="f01">5,3</td>
      <td id="f02">6,1</td>
      <td id="f03">8,3</td>
      <td id="f04">12,0</td>
      <td id="f05">15,9</td>
      <td id="f06">19,9</td>
      <td id="f07">23,1</td>
      <td id="f08">23,5</td>
      <td id="f09">20,3</td>
      <td id="f10">15,9</td>
      <td id="f11">10,9</td>
      <td id="f12">7,0</td>
      <td id="d_top3">
      </td>
    </tr>
    <tr>
      <th>Ortalama Güneşlenme Süresi (saat)</th>
      <td id="g01">4,5</td>
      <td id="g02">5,4</td>
      <td id="g03">6,1</td>
      <td id="g04">7,2</td>
      <td id="g05">9,0</td>
      <td id="g06">10,5</td>
      <td id="g07">10,7</td>
      <td id="g08">10,1</td>
      <td id="g09">9,0</td>
      <td id="g10">7,5</td>
      <td id="g11">6,0</td>
      <td id="g12">4,4</td>
      <td id="d_top4">
      </td>
    </tr>
    <tr>
      <th>Ortalama Yağışlı Gün Sayısı</th>
      <td id="h01">10,47</td>
      <td id="h02">9,96</td>
      <td id="h03">9,65</td>
      <td id="h04">8,56</td>
      <td id="h05">6,31</td>
      <td id="h06">2,89</td>
      <td id="h07">0,89</td>
      <td id="h08">0,72</td>
      <td id="h09">2,54</td>
      <td id="h10">5,29</td>
      <td id="h11">6,88</td>
      <td id="h12">10,09</td>
      <td id="d_top5">
      </td>
    </tr>
    <tr>
      <th>
                Aylık Toplam Yağış Miktarı Ortalaması<span style="font-size:.8em;">
                  (mm)
                </span></th>
      <td id="i01">110,9</td>
      <td id="i02">87,6</td>
      <td id="i03">65,3</td>
      <td id="i04">51,3</td>
      <td id="i05">48,4</td>
      <td id="i06">21,8</td>
      <td id="i07">10,1</td>
      <td id="i08">9,2</td>
      <td id="i09">19,3</td>
      <td id="i10">42,7</td>
      <td id="i11">71,6</td>
      <td id="i12">124,8</td>
      <td id="d_top6">
      </td>
    </tr>
    <tr>
      <td style="border:none;"> </td>
      <th colspan="13">
                  Ölçüm Periyodu ( 1929 - 2025)
                </th>
    </tr>
    <tr>
      <th style="color:#dd4747;">En Yüksek Sıcaklık (°C)</th>
      <td id="j01" title="05.01.1971" style="color:#dd4747;">26,5</td>
      <td id="j02" title="18.02.2016" style="color:#dd4747;">28,5</td>
      <td id="j03" title="15.03.2025" style="color:#dd4747;">33,3</td>
      <td id="j04" title="24.04.2008" style="color:#dd4747;">37,5</td>
      <td id="j05" title="27.05.1945" style="color:#dd4747;">41,3</td>
      <td id="j06" title="07.06.2024" style="color:#dd4747;">43,0</td>
      <td id="j07" title="02.07.2017" style="color:#dd4747;">44,4</td>
      <td id="j08" title="09.08.2025" style="color:#dd4747;">46,7</td>
      <td id="j09" title="03.09.2020" style="color:#dd4747;">45,1</td>
      <td id="j10" title="03.10.1943" style="color:#dd4747;">41,5</td>
      <td id="j11" title="16.11.1933" style="color:#dd4747;">34,3</td>
      <td id="j12" title="03.12.2010" style="color:#dd4747;">30,8</td>
      <td style="color:#dd4747;" id="d_top7">
      </td>
    </tr>
    <tr>
      <th style="color:#437ec1;">En Düşük Sıcaklık (°C)</th>
      <td id="k01" title="20.01.1964" style="color:#437ec1;">-8,1</td>
      <td id="k02" title="09.02.1949" style="color:#437ec1;">-6,6</td>
      <td id="k03" title="07.03.1943" style="color:#437ec1;">-4,9</td>
      <td id="k04" title="11.04.1997" style="color:#437ec1;">-1,3</td>
      <td id="k05" title="02.05.1990" style="color:#437ec1;">5,6</td>
      <td id="k06" title="07.06.1931" style="color:#437ec1;">9,2</td>
      <td id="k07" title="12.07.1958" style="color:#437ec1;">13,2</td>
      <td id="k08" title="25.08.1960" style="color:#437ec1;">14,8</td>
      <td id="k09" title="23.09.1959" style="color:#437ec1;">9,3</td>
      <td id="k10" title="14.10.1948" style="color:#437ec1;">3,5</td>
      <td id="k11" title="29.11.1953" style="color:#437ec1;">-4,3</td>
      <td id="k12" title="19.12.1953" style="color:#437ec1;">-4,4</td>
      <td style="color:#437ec1;" id="d_top8">
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="13">
        <i>En yüksek ve en düşük sıcaklıkların gerçekleşme tarihini görmek için fare imlecini değerlerin üstüne getiriniz.</i>
      </td>
    </tr>
  </tfoot>
</table>
<table xmlns:xalan="http://xml.apache.org/xalan">
  <thead>
    <tr>
      <th colspan="2">Günlük Toplam En Yüksek Yağış Miktarı</th>
      <th colspan="2">Günlük En Hızlı Rüzgar</th>
      <th colspan="2">En Yüksek Kar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="r">25.12.2019</td>
      <td class="l">
        <b>147,0 mm
                  </b>
      </td>
      <td class="r">19.11.2010</td>
      <td class="l">
        <b>38,6 m/sn
                  </b>
      </td>
      <td class="r">21.01.1972</td>
      <td class="l">
        <b>1 cm
                  </b>
      </td>
    </tr>
  </tbody>
</table>
